<!DOCTYPE html>
<html lang="fr">
<head>
  <title> Historique </title>
  <meta charset="utf-8" /> <!-- indique l encodage utiliser-->
  <style>
  h3,h4{
    color: blue;
  }
    </style>
</head>
<body>
 
  <h1 id="debutHistorique" >Amour Sans frontière (<i>ASF</i>) </h1>  <!-- on ne peut pas mettre <h2> dans <p>-->
 <br/> 
    <p class="introduction">
    ASF: Amour Sans Frontière: est une association Caritative basée au Cameroun,<br>
     regroupant plus de X-Chretiens dans le monde; <br>
    dont le but est d'evangeliser, d'apporter de l'aide à ceux qui en ont besoin.
 </p>
  <p>
   <!-- dans le CSS , j appliqueraiun styleparticulier à toutes balises avec strong -->
   <i>A.S.F</i>  est une <strong> Association</strong> inter_Dénominationelle qui œuvre pour l'avancement <br> 
  du royaume des cieux tout en tendant la main aux nécessiteux selon <br>
  qu'il est écrit dans <strong> Matt. 14/16 Jésus  </strong>leur répondit : ils n'ont pas besoin de s'en aller ; <br>
  donnez_leur vous_même à manger.
</p>


  <p>
  <i>A.S.F</i> amour à vu le jour en <strong> 2012 au Cameroun </strong> plus précisément a Ngaoundéré <br>
    dans l'Adamaoua. Après un temps passé dans la présence de Dieu le Seigneur qui<br>
     nous a mis a coeur ce fardeau, en effet au début ce n'etait pas amour sans frontière <br>
      mais plutôt association missionnaire Jerubaal pour les nations <br>
      pour laquelle nous avons été buté au moment de la légalisation <br>
      car le préfet de la vina nous a fait savoir qu'on ne pouvait pas la  légaliser <br>
       parce qu' elle est une <em>association   chrétienne </em> ,<br> 
     voilà comment dans la prière le seigneur nous a donné ce nom d'amour sans frontière <br>
    avec lequel nous fonctionnons en ce moment <br>
        et par la grâce de DIEU nous avons accompli des choses extraordinaires avec le Seigneur Jésus_Christ<br>
         jusqu'à nos jours.
  </p>    
   <p>
        <mark> Amour Sans Frontière a connu de nombreuses difficultés<br>
          mais parce qu'étant christo-centre <br>
           elle a tenu ferme par la grâce de DIEU.</mark> <br>
    Il est a noté qu'Amour Sans Frontière est une association inter nominationelle
    <a href="#debutHistorique"> lire Historique </a> 
  </p>

  <p style="color:darkred">
     Nous disons à toute personne désireuse de nous accompagner<br>
     dans cette actions qu'elle est la bienvenue... 
     <!--forcer le lien dans une nouvell fenetre et title est le message -->
     <a routerLink="kontakt"  title="nous rejoindre" target="_blank">
      Contactez nous </a>
  </p>
  <br/><hr/>

     <h4 id="ASF_creation"> Amour sans frontière à vu le jour en Septembre 2012 au Cameroun </h4>
    <p class="moins_important">
         
         plus précisément a Ngaoundéré dans l'Adamaoua. Après un temps passé<br/>
         dans la présence de Dieu le Seigneur nous a mis a coeur ce fardeau, <br/>
         en effet au début ce n'etait pas amour sans frontière mais plutôt <br/>
         association missionnaire Jerubaal pour les nations pour laquelle nous <br/> 
         avons été buté au moment de la légalisation car le préfet de la vina <br/> 
          nous a fait savoir qu'on ne pouvait pas la  légaliser parce qu' elle  <br/> 
          est une association   chrétienne, voilà comment dans la prière le <br/> 
          seigneur nous a donné ce nom d'amour sans frontière avec lequel nous <br/> 
           fonctionnons en ce moment et par la grâce de DIEU nous avons <br/> 
           accompli des choses extraordinaires avec le Seigneur Jésus_Christ <br/> 
           jusqu'à nos jours. Amour Sans Frontière a connu de nombreuses <br/>
           difficultés mais parce qu'étant christo-centre elle a tenu ferme <br/> 
            par la grâce de DIEU.Il est a noter qu'Amour Sans Frontière est <br/> 
             une association inter nominationelle  <a href="#debutHistorique"> lire Historique ^| </a> 
    </p> 

  <p class="signature">Signé:<strong>Carole, Mannheim Allemagne</strong> </p>

</body>
</html>