<!DOCTYPE html>
<html lang="fr">
<head>
  <title> Historique </title>
  <meta charset="utf-8" /> <!-- indique l encodage utiliser-->
</head>
<body>
 
  <h3>Amour Sans frontière (<i>ASF</i>) </h3>  <!-- on ne peut pas mettre <h2> dans <p>-->
 <p>
   <!-- dans le CSS , j appliqueraiun styleparticulier à toutes balises avec strong -->
   est une <strong> Association</strong> inter_Dénominationelle qui œuvre pour l'avancement <br> 
  du royaume des cieux tout en tendant la main aux nécessiteux selon <br>
  qu'il est écrit dans <strong> Matt. 14/16 Jésus  </strong>leur répondit : ils n'ont pas besoin de s'en aller ; <br>
  donnez_leur vous_même à manger.
</p>

<i>A.S.F</i>
  <p>
   à vu le jour en <strong> 2012 au Cameroun </strong> plus précisément a Ngaoundéré <br>
    dans l'Adamaoua. Après un temps passé dans la présence de Dieu le Seigneur qui<br>
     nous a mis a coeur ce fardeau, en effet au début ce n'etait pas amour sans frontière <br>
      mais plutôt association missionnaire Jerubaal pour les nations <br>
      pour laquelle nous avons été buté au moment de la légalisation <br>
      car le préfet de la vina nous a fait savoir qu'on ne pouvait pas la  légaliser <br>
       parce qu' elle est une <em>association   chrétienne </em> ,<br> 
     voilà comment dans la prière le seigneur nous a donné ce nom d'amour sans frontière <br>
    avec lequel nous fonctionnons en ce moment <br>
        et par la grâce de DIEU nous avons accompli des choses extraordinaires avec le Seigneur Jésus_Christ<br>
         jusqu'à nos jours.
  </p>    
   <p>
        <mark> Amour Sans Frontière a connu de nombreuses difficultés<br>
          mais parce qu'étant christo-centre <br>
           elle a tenu ferme par la grâce de DIEU.</mark> <br>
    Il est a noté qu'Amour Sans Frontière est une association inter nominationelle
    </p>

  <p>  <i> Nous disons à toute personne désireuse de nous accompagner<br>
     dans cette actions qu'elle est la bienvenue... 
     <a routerLink="kontakt"> Contactez nous ...ici</a>
  Par Carole </i></p> 
  

</body>
</html>