.introduction{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-synthesis: style;
    
}
h1{
    text-align: center;
    color: blue;
}
p{
    text-align: justify;
}
.signature{
    text-align: right
}
//////////////////////////////////////////////////////
.imageflottante
{
    float: left;
}
.dessous
{
    clear: both;
}

body
{
   // background-image: url("logo.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: top right; 
}

.moins_important{
    background-color: black;
    color: white;
    opacity: 1;
    border-radius: 10px;
   // width: 500px
   // text-align="center";
}

p[couleurspecifique]{
    color:red;
}
section{
    margin: 1px;
    display:block;
    text-align: center;

}

aside:hover{
    background-color:beige;
}

image{
    padding: 5px;
    display: block;
    background-clip: content-box;

}