<footer>
    <div id="tweet">
        <h1>Impressum</h1>
        <p>Fondation: Amour Sans Frontière
        Un « impressum » (mot latin signifiant « imprimé », du verbe « imprimĕre », « imprimer ») est une déclaration imposée par l'article §5 du Telemediengesetz1, la loi allemande en date du 1er mars 2007 régissant et protégeant la propriété et les droits d'auteur d'un document voué à la publication ; elle doit figurer dans les livres, journaux, magazines et sites Internet publiés en Allemagne et d'autres pays germanophones, comme l'Autriche et la Suisse.
        </p>
        <p>https://fr.wikipedia.org/wiki/Impressum</p>

    </div>
    <div id="mes_photos">
       <table>
           <caption>Nos Archives</caption>
           <thead><tr> <th> Année </th> <th> Lieux Visité </th> </tr></thead>
          <!-- <tfoot><tr> <th> Année </th> <th> Lieux Visité </th> </tr></tfoot> -->
           
         <tbody><tr><td> 2002 </td> <td> Ngaroundéré </td></tr></tbody>

       </table>

    </div>
    
    <div id="mes_amis">
        <h1>Amours Sans Frontière sur les réseaux Sociaux</h1>
        <div id="listes_amis">
            <ul>
                <li><a href="#">Facebook: ...</a></li>
                <li><a href="#"></a>Whatsapp</li>
                <li><a href="#">Tweeter</a></li>
                <li><a href="#"> Autre</a></li>
            </ul>
            <ul>
                <li routerLinkActive="active"> <a routerLink="auth/signin">Contacts :
                  <strong><a>695 12 96 71</a> </strong>
                </a> </li>
                <li><a href="#">Cameroun /Adamaoua</a></li>
                <li><a href="https://github.com/gaelBo">Webmaster
                  Copyright © FONDATION AMOUR SANS FRONTIERE</a> </li>
                
            </ul>
        </div>
    </div>
</footer>
