<nav  style="background-color: #111213;"> 
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="books">Impressum </a>
        <h4></h4>
      </li>
      <li><a href="https://github.com/gaelBo">Webmaster</a> </li>
      <li routerLinkActive="active">
        <a routerLink="auth/signin">Nous contactez : </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/signin">Aides ! </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="books"> Engagements </a>
      </li>
    
      <li routerLinkActive="active">
        <a routerLink="kontakt">Archivs </a>
      </li>
    </ul>
   
  </div>
</nav>