<html>
  <head>
    <title>
      Nos Activités
    </title>
  </head>

  <body>
    <h1> Activité avenir:</h1>

    <section>
        <article>
            <h1>THEME: LE CRI DE L'ESPOIR</h1>
         <aside>
          <p style="color:darkred">
            <ul >
                Date: 13 au 25 Déc. 2018
                Lieu: Mora Goshi ( Extrême Nord du Cameroun) 
                    <li>Evangélisation
                    <li>Encadrement dans le discipolat, 
                    <li>Distributions des dons, 
                    <li>Consultations et soins médicaux
                    <li>Prières et Conseils divers             
              </ul>
             
           
         </aside>
               
            <p>Amour sans frontière à vu le jour en Septembre 2012 au Cameroun
              plus précisément a Ngaoundéré dans l'Adamaoua. Après un temps passé dans la présence de Dieu le Seigneur nous a mis a coeur ce fardeau,
              en effet au début ce n'etait pas amour sans frontière mais plutôt 
              association missionnaire Jerubaal pour les nations pour laquelle nous
              avons été buté au moment de la légalisation car le préfet de la vina 
               nous a fait savoir qu'on ne pouvait pas la  légaliser parce qu' elle 
               est une association   chrétienne, voilà comment dans la prière le 
               seigneur nous a donné ce nom d'amour sans frontière avec lequel nous 
                fonctionnons en ce moment et par la grâce de DIEU nous avons 
                accompli des choses extraordinaires avec le Seigneur Jésus_Christ  
                jusqu'à nos jours. </p>
                
                <p>
                Amour Sans Frontière a connu de nombreuses 
                difficultés mais parce qu'étant christo-centre elle a tenu ferme  
                 par la grâce de DIEU.Il est a noter qu'Amour Sans Frontière est  
                  une association inter nominationelle  <a href="#debutHistorique"> lire Historique ^| </a>
                </p>
                <p>Amour sans frontière à vu le jour en Septembre 2012 au Cameroun
                    plus précisément a Ngaoundéré dans l'Adamaoua. Après un temps passé dans la présence de Dieu le Seigneur nous a mis a coeur ce fardeau,
                    en effet au début ce n'etait pas amour sans frontière mais plutôt 
                    association missionnaire Jerubaal pour les nations pour laquelle nous
                    avons été buté au moment de la légalisation car le préfet de la vina 
                     nous a fait savoir qu'on ne pouvait pas la  légaliser parce qu' elle 
                     est une association   chrétienne, voilà comment dans la prière le 
                     seigneur nous a donné ce nom d'amour sans frontière avec lequel nous 
                      fonctionnons en ce moment et par la grâce de DIEU nous avons 
                      accompli des choses extraordinaires avec le Seigneur Jésus_Christ  
                      jusqu'à nos jours. Amour Sans Frontière a connu de nombreuses 
                      difficultés mais parce qu'étant christo-centre elle a tenu ferme  
                       par la grâce de DIEU.Il est a noter qu'Amour Sans Frontière est  
                        une association inter nominationelle  <a href="#debutHistorique"> lire Historique ^| </a>
                      </p>
                      <p>Amour sans frontière à vu le jour en Septembre 2012 au Cameroun
                          plus précisément a Ngaoundéré dans l'Adamaoua. Après un temps passé dans la présence de Dieu le Seigneur nous a mis a coeur ce fardeau,
                          en effet au début ce n'etait pas amour sans frontière mais plutôt 
                          association missionnaire Jerubaal pour les nations pour laquelle nous
                          avons été buté au moment de la légalisation car le préfet de la vina 
                           nous a fait savoir qu'on ne pouvait pas la  légaliser parce qu' elle 
                           est une association   chrétienne, voilà comment dans la prière le 
                           seigneur nous a donné ce nom d'amour sans frontière avec lequel nous 
                            fonctionnons en ce moment et par la grâce de DIEU nous avons 
                            accompli des choses extraordinaires avec le Seigneur Jésus_Christ  
                            jusqu'à nos jours. Amour Sans Frontière a connu de nombreuses 
                            difficultés mais parce qu'étant christo-centre elle a tenu ferme  
                             par la grâce de DIEU.Il est a noter qu'Amour Sans Frontière est  
                              une association inter nominationelle  <a href="#debutHistorique"> lire Historique ^| </a>
                            </p>
              </article>
        <aside>
            <h1>Localication</h1>
            <img src="images/bulle.png" alt="" id="fleche_bulle" />
            
            <p>
                <figure>
                    <a href="assets/images/carteCameroun.jpg">
                      <img src="assets/images/carteCameroun.jpg"  width="300" alt="Photo de chips" title="Cliquez pour agrandir" /></a>
                    <figcaption>https://fr.wikipedia.org/wiki/Fichier:CAMEROUN.svg </figcaption>
                </figure>
            </p>

            <p>Laisse-moi le temps de me présenter&nbsp;: je m'appelle Zozor, je suis né un 23 novembre 2005.</p>
            <p>Bien maigre, n'est-ce pas ? C'est pourquoi, aujourd'hui, j'ai décidé d'écrire ma biographie afin que vous sachiez qui je suis réellement.</p>
        </aside>
    </section>
    

<h2>Activités passées</h2>
<div class="row">
    <div class="col-xs-12">
      <h2></h2>
      <div class="list-group">
        <button
          class="list-group-item"
          *ngFor="let book of books; let i = index"
          (click)="onViewBook(i)">
          <h3 class="list-group-item-heading">
            {{ book.title }}
            <button class="btn btn-default pull-right" (click)="onDeleteBook(book)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </h3>
          <p class="list-group-item-text">{{ book.author }}</p>
        </button>
      </div>
      <button class="btn btn-primary" (click)="onNewBook()">Nouveau Post</button>
    </div>
  </div>
    
  </body>
</html>


