<p>

  Profil:<br>
  <img style="max-width:200px;" src="assets/images/gael.jpg"><br>
  Kontakt : <br>
   Mobil: 0176xxxxxxxxxx<br>
   Email: xxxxxxxxxxxxxxxxxx<br>

  Wir sind Student an der Hochschule Worms.<br>
  Studiengang Master Mobile Computing
  </p>
  
  <p>
  Unsere Fachkompetenz <br>
  ProduktionVision unserer Kunden zu unterstuzen, Mockup erstellen <br>
  Diagramme UML erstellen.<br>
  *****
  </p>
  <i><h3>Native-, Web-, Hybride Apps entwicklen</h3></i>
  
  <p>
Technologien:<br>
JAVA, Html5 , JAVASCRIPT, CSS, AngularJS  
</p>