<table>
    <caption><h1>Contacts des menbres du bureau</h1></caption>
 
    <thead> <!-- En-tête du tableau -->
        <tr>
            <th> Nom </th>
            <th> Status     </th>
            <th> Numéro </th>
            <th> Année </th>
        </tr>
    </thead>
 
 
    <tbody> <!-- Corps du tableau -->
        <tr>
            <td> M. Tchouanti Kemoe Daniel Blaise </td>
            <td> Président Fondateur : </td>
            <td> 677005486 / 695129671 </td>
            <td><a href="assets\images\EventASF43.jpeg"><img style="max-width:100px;" src="assets\images\EventASF43.jpeg"> </a></td>
            
        </tr>
        
        <tr class="tr_color">
            <td> M. Nkwemy Urbain </td>
            <td> Secrétaire Général </td>
            <td> 679120555 / 699234768 </td>
            <td><a href="assets\images\EventASF13.jpeg"><img style="max-width:100px;" src="assets\images\EventASF13.jpeg"> </a></td>
        </tr>
        <tr>
            <td> Mme Njoubou Ep Talla Marie  </td>
            <td> Vice-présidente </td>
            <td> 655974414 / 677641614 </td>
            <td><a href="assets\images\EventASF31.jpeg"><img style="max-width:100px;" src="assets\images\EventASF31.jpeg"> </a></td>
        </tr>
        <tr class="tr_color">
            <td > Mr Noubieli  Tawamba Raoul </td>
            <td> Trésorier  </td>
            <td> 675506181 / 691588358 </td>
            <td><a href="assets\images\EventASF37.jpeg"><img style="max-width:100px;" src="assets\images\EventASF37.jpeg"> </a></td>
        </tr>
        <tr>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>... </td>
            <td>...</td>
            <td>....</td>
            <td>....</td>
        </tr>
    </tbody>
 </table>













<h1> Contact : </h1><br/>
<table style="width:100%">
    <tr>
      <td >
      
        <h4>
           Telephones:<br/>
           (00237) <br/>           
           <strong class="important"><a>695 12 96 71</a> </strong>
            (Orange Money) <br/>
           <strong class="important"> <a> 679 74 68 06 </a> </strong><br/>
            Email: <strong class="important">amoursansfrontiere@gmail.com</strong><br/><br/>
           ou <br/>
            <a href="amoursansfrontiere@gmail.com">Envoyez-nous un message!</a> directement <br/>
            Site Web: www.amoursansfrontiere.com<br/> <br/>
          <i>
                <blockquote>
              Psaumes 121:2 , Le secours me vient de l'Éternel,<br/>
              Qui a fait les cieux et la terre.
            </blockquote>
          </i>
        </h4>
     </td>
    
      <td>
         <a href="assets/images/EventASF3.jpeg"><img style="max-width:500px;" src="assets/images/EventASF3.jpeg"> </a><br/>
     </td>
     </tr>
  </table>

  
  

