
<table style="width:100%" border="1">
    <tr>
      <th>
        <p>
  <img style="max-width:200px;" src="assets/images/EventASF11.jpeg"><br/>
      </p>
    </th>
      <th>Lastname</th> 
    
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
     
    </tr>
   
  
  </table>


  <strong><i>
     Psaumes 121:2 , Le secours me vient de l'Éternel,
     Qui a fait les cieux et la terre.
    </i></strong>
<p>
  Kontakt : <br>
   Mobil: 0176xxxxxxxxxx<br>
   Email: <a href="amoursansfrontiere@gmail.com">Envoyez-nous un message!</a>
   <br>
  
  Wir sind Student an der Hochschule Worms.<br>
  Studiengang Master Mobile Computing
  
</p>