<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Konto erstellen</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">PassWord</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 formControlName="password">
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="signUpForm.invalid">Konto erstellen</button> 
                
      </form><br>
      <label>  Autre : <button class="btn btn-primary">Facebook</button></label>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>