<app-header></app-header>
<div class="container">
    <i> Was es nicht oft gebraucht werden, könnte ausgeliehen werden!!!!</i> <b> Gael Bouyom</b>
    <table>
      <tr>
        <td>    <img style="max-width:100px;" src="assets/images/HandyVerloren.jpg"></td>
        <td>   </td>
        <td>    <img style="max-width:100px;" src="assets/images/schluesselverlieren.jpg"></td>
        <td>    </td>
        <td>    <img style="max-width:100px;" src="assets/images/werkzeug_leihen.jpg"></td>
        <td>    <img style="max-width:100px;" src="assets/images/HandyVerloren.jpg"></td>
      </tr>
    </table>
    <nav>
      <input type="text" ng-model="suche"> {{suche}}
    <button class="btn btn-primary">Suchen</button>
  </nav>
  <router-outlet></router-outlet>
</div>