<app-header></app-header>
<div class="container">
    
  <!--
       <table>
      <tr>
        <td>    <img style="max-width:100px;" src="assets/images/HandyVerloren.jpg"></td>
        <td>   </td>
        <td>    <img style="max-width:100px;" src="assets/images/schluesselverlieren.jpg"></td>
        <td>    </td>
        <td>    <img style="max-width:100px;" src="assets/images/werkzeug_leihen.jpg"></td>
        <td>    <img style="max-width:100px;" src="assets/images/HandyVerloren.jpg"></td>
      </tr>
    </table>
    -->
   

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>