.introduction{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-synthesis: style;
    
}
h1{
    text-align: center;
    color: blue;
}
p{
    text-align: justify;
}

h4{
   // font-size: 25px // taille absolue
   font-size: x-large;
}

.important{
   font-family: 'Times New Roman', Times, serif;
   color:red; 
}