<!DOCTYPE html>
<html>
  <head>
    <title>Faire un Don </title>
  </head>
<body>


<h1>Faire un Don</h1>

<table>
  <tr>
    <h5>
    <td> Nos besoins pour la mission <br/>
    <ul>
      <li>Médicaments</li>
      <li>Du Riz et de l'huile</li>
      <li>Savon</li>
      <li>Vêtements et chaussures </li>
      <li>Véhicules adaptés</li>
      <li>Finances</li>
      <li> ... </li>
    </ul></td>

    <td>.  </td><td></td><td></td><td></td><td></td><td>. </td>

  </h5>
    <td>Pour plus de précision,
       <a routerLink="kontakt">Contactez nous</a>
       <h4>
          Telephones:<br/>
          (00237) <br/>           
          <strong class="important"> 695 12 96 71</strong>
           (Orange Money) <br/>
          <strong class="important">   679 74 68 06 </strong><br/>
           Email: <strong class="important">amoursansfrontiere@gmail.com</strong><br/><br/>
          ou <br/>
           <a href="amoursansfrontiere@gmail.com">Envoyez-nous un message!</a> directement <br/>
           Site Web: www.amoursansfrontiere.com<br/> <br/>
         <i>
             Psaumes 121:2 , Le secours me vient de l'Éternel,<br/>
             Qui a fait les cieux et la terre.<br/>
         </i>
       </h4>
      
      
      </td>
  
  </tr>
</table>
<p>Merci d'avance !!!</p>


</body>
</html>