body{
    //background-color: rgb(247, 243, 243);
}

.introduction{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-synthesis: style;
    
}
h1{
    text-align: center;
    color: blue;
}
p{
    text-align: justify;
}

h4{
   // font-size: 25px // taille absolue
   font-size: x-large;
}

.important{
   font-family: 'Times New Roman', Times, serif;
   color:red; 
}
.element1{
    //background-color: lightblue;
    background-color: rgb(247, 243, 243);
    width:30%;
    font-size:x-large;
}
.element2{
    //background-color: rgb(247, 243, 243);    width:50%;
    font-size:x-large; 
}
#conteneur{
    display: flex;
    justify-content:space-evenly;
}