
h1{
    color: blue;
    text-shadow: 2px 2px 4px black; //Ombrage du text

}
h3{
   // font-size: 25px // taille absolue
   font-size: x-large;
}

.important{
   font-family: 'Times New Roman', Times, serif;
   color:red; 
}

.moins_important{
    background-color:rgb(52, 176, 233);
    color:black;
    opacity: 1;
    box-shadow: 10px 10px 0px red; //ombrage de blog

}

#lisere 
{
    float: left;
    width: 100px;
    height: 100%;
    background-color: grey;
    opacity: 0.5;
}

a:hover{
    text-decoration: underline;
    color:red;
}
/* Responsive Design avec media queries (requetes media)
Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
    .important
    {
        color:blue; 
        background-color: black;
        font-size: 1.2em;
    }
}