<!DOCTYPE html>
<html lang="fr">
<head>
  <title> Historique </title>
  <meta charset="utf-8" /> <!-- indique l encodage utiliser-->
</head>
<body>
 
  <h3>Les Actions menées par Amour Sans frontière (<i>ASF</i>) sont variées: </h3>  <!-- on ne peut pas mettre <h2> dans <p>-->
   
   <p>
   <mark>
     <ul>
        Les fonctionnalités sont de faire
         des nations les Disciples selon Matt28/19<br>
    de témoigner l'amour du christ au-travers des œuvres sociales manifesté a l'endroit des personnes défavorisés: 
    <span class="important">
    <li>Apport en soins médicaux.,
    	<li>Apport sur le plan nutritionnelle., 
    	<li>Apport sur le plan vestimentaire., 
    	<li>et dans le possible d'encourager la population a l'auto  emploi et la création d'entreprise afin de les amené a être entrepreneurs
      </span>
     </ul>
     
  </mark>  
  </p>

  <p>  <i> Nous disons à toute personne désireuse de nous accompagner  dans cette actions qu'elle est la bienvenue.
  Par Carole 
</i></p> 
<a routerLink="historique"> pour plus d'infos...</a><br />

  

</body>
</html>