<!DOCTYPE html>
<html lang="fr">


<head>
  <title>Accueil</title>
  <meta charset="utf-8" /> <!-- indique l encodage utiliser-->

  <link href="node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
   
<body>
  
  <img src="assets/images/EventASF.jpeg" alt="ASF_baniere" width="500" height="300">
  <!--
  <img src="assets/images/ASFprospect.jpg" alt="ph1">
  <img src="assets/images/EventASF2.jpeg" alt="ph2">
  <img src="assets/images/EventASF3.jpeg" alt="ph3">
  <img src="assets/images/EventASF4.jpeg" alt="ph4">
-->

  


</body>
</html>