<!DOCTYPE html>
<html lang="fr">


<head>
  <title>Accueil</title>
  <meta charset="utf-8" />
</head>
   
<body>

<div id="conteneurAccueil" >


 <section class="section1">
      <h2>Matthieu 14:16</h2>
      <p>
          Le soir étant venu, les disciples s'approchèrent de lui, et dirent: Ce lieu est désert, et l'heure est déjà avancée; renvoie la foule, afin qu'elle aille dans les villages, pour s'acheter des vivres. 16Jésus leur répondit: Ils n'ont pas besoin de s'en aller; donnez-leur vous-mêmes à manger. 17Mais ils lui dirent: Nous n'avons ici que cinq pains et deux poissons.…
        </p>
  </section>


<section class="section2">
      <p>
<figure>
    <a href="assets/images/EventASF2.jpeg"><img src="assets/images/EventASF2.jpeg"  width="500" alt="Photo de chips" title="Cliquez pour agrandir" /></a>
    <figcaption><h2>L'Equipe de A.S.F </h2> </figcaption>
</figure>
    </p>
</section>
  
</div>

</body>
</html>