body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.verse_biblique{
    float: left;
    background-color: lightblue;
}

.img-main-carousel
{
  max-height: 500px;
  margin: 0 auto;
    //  width: 80%;
   // height: 80%;
}



/*
section
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.aside1
{
    width: 80%;
}
.aside2
{
    width:20%;
}
*/